*.aux
*.bbl
*.bcf
*.blg
*.fls*
*.idx
*.ilg
*.ind
*.lof
*.lof
*.log
*.lot
*.lox
*.out
*.synctex.gz
*.toc
*.xml
*.zip
*Case\ Conflict*
*latexmk
*onflict*
*~
.\#.*
/#*#
Unused_PDFs_to_be_deleted
\#.*
arara.log
tmp
