*.aux
*.bbl
*.bcf
*.blg
*.fls*
*.idx
*.ilg
*.ind
*.lof
*.lof
*.log
*.lot
*.lox
*.out
*.synctex.gz
*.toc
*.xml
*.zip
*.~lock.*
*Case\ Conflict*
*latexmk
*onflict*
*~
.\#.*
/#*#
Unused_PDFs_to_be_deleted
\#.*
arara.log
.new
test.*
tmp
tmp.*
*.rubbercache
/Rocketship_Education-An_Exploratory_Public_Policy_Case_Study.prv/
/_region_.prv/
/_region_.tex
