*.aux
*.bbl
*.bcf
*.blg
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lof
*.log
*.lot
*.lox
*.out
*.synctex.gz
*.toc
*.xml
*.zip
*latexmk
*~
/#*#
Unused_PDFs_to_be_deleted
.\#.*
\#.*
*Case\ Conflict*
arara.log
tmp
*onflict*
